@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="/Content/js/select2/select2.min.js"></script>
<script src="/Content/js/validate/jquery.validate.min.js"></script>
<script src="/Content/js/datepicker/WdatePicker.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        gridList();
        $("#StoreIds").bindSelectWithArr({
            data:@MvcHtmlString.Create(@ViewBag.Stores),
            id: "ID",
            text: "Name"
        });
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/GoodsDiscount/GetWholeDiscountEventFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    if (data.StoreIds.length > 0) {
                        $("#StoreIds").val(data.StoreIds.split(",")).trigger("change");
                    }
                }
            });
        }
        $("#StoreIds").select2({
            multiple: true,
        });
        $("#RangeFlag").change(function(evt){
            debugger
            alert(this.value);
        })
    })

    function gridList() {
        debugger

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function submitForm()
    {

        if(confirm("请再次检查录入信息是否正确")){
            var grid = $("#gridDetail")
            if (!$('#form1').formValid()) {
                return false;
            }
            var formData = $("#form1").formSerialize();
            formData.StoreIds = formData.StoreIds == null ? "" : formData.StoreIds.toString();
            $.submitForm({
                url: "/SystemManage/GoodsDiscount/SubmitWholeDiscountEvent?keyValue=" + keyValue,
                param: formData,
                success: function () {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>

        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle requred">*活动名称</th>
                    <td colspan="3" class="formValue">
                        <input id="Name" name="Name
                               " maxlength="150" type="text" class="form-control required" placeholder="请输入活动名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle requred">活动标签</th>
                    <td colspan="3" class="formValue">
                        <input id="EventTag" name="EventTag" maxlength="150" type="text" class="form-control required" placeholder="请输入活动标签" />
                    </td>
                </tr>
                @*<tr>
                    <th class="formTitle">活动范围</th>
                    <td class="formValue">
                        <label><input name="RangeFlag" type="radio" value="指定门店" checked />指定门店</label>
                        <label><input name="RangeFlag" type="radio" value="所有门店" />所有门店</label>
                    </td>
                </tr>*@
                <tr>
                    <th class="formTitle">活动门店</th>
                    <td>
                        <select id="StoreIds" name="StoreIds" required class="select2-container-multi" multiple="multiple"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle requred">活动时间</th>
                    <td colspan="3" class="formValue">
                        <input id="StartTime" name="StartTime" style="width:180px; display:inline" required type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />--<input id="EndTime" name="EndTime" style="width:180px; display:inline" type="text" required class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle requred">折扣率(%)</th>
                    <td colspan="3" class="formValue">
                        <input id="EventConfigString" name="EventConfigString" maxlength="3" min="1" max="100" type="number" class="form-control required" placeholder="请输入折扣百分比" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" maxlength="200" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</form>



