@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Store/GetStores",
            height: $(window).height() - 128,
            colModel: [
                { label: '门店编号', name: 'ID', width: 50, align: 'center' },
                { label: '门店名称', name: 'StoreName', width: 120, align: 'center' },
                { label: '地    址', name: 'Address', width: 160, align: 'center' },
                { label: '区    域', name: 'Area', width: 80, align: 'center' },
                { label: '城市号', name: 'CityNo', width: 80, align: 'center' },
                { label: '联系电话', name: 'StorePhone', width: 80, align: 'center' },
                { label: '传    真', name: 'Fax', width: 80, align: 'center' },
                { label: '开业时间', name: 'FoundedTime', width: 80, align: 'center' },
                { label: '店    长', name: 'Manager', width: 80, align: 'center' },
                { label: '门店人数', name: 'EmployCount', width: 80, align: 'center' },
                { label: '业绩指标(元)', name: 'ExpectedAchievement', width: 80, align: 'center' },
                { label: '结算日期', name: 'SettlementDate', width: 80, align: 'center' },
                {
                    label: '修改时间', name: 'CreateDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                { label: '备注', name: 'Description', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'Description asc,FoundedTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增门店",
            url: "/SystemManage/Store/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        $.modalOpen({
            id: "Form",
            title: "修改门店",
            url: "/SystemManage/Store/Form?keyValue=" + keyValue,
            width: "700px",
            height: "520px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/SystemManage/Store/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().ID },
            prompt: '删除门店将会同时删除门店所有员工信息，是否继续？',
            success: function () {
                $("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建门店</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改门店</a></li>
                <li><a id="NF-delete" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除门店</a></li>
                <li class="split"></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="门店编号/名称/地址/区域/城市号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
