@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>全国门店销量一览</title>
        @*<link href="~/Content/css/framework-font.css" rel="stylesheet" />
        <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
        <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
        <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
        <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
        <link href="~/Content/css/framework-about.css" rel="stylesheet" />*@
        <script src="~/Content/js/echarts/echarts.min.js"></script>
    </head>
    <body>
        <div id="main" style="width: 1024px;height:768px;"></div>
        <script>
            
        </script>
        <script>
            //var myChart = echarts.init(document.getElementById('main'));
            //myChart.setOption(option);
        </script>
    </body>
    </html>
