@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
    var account = Ingpal.BusinessStore.Model.UserInfo.Instance.Account;
    var realName = Ingpal.BusinessStore.Model.UserInfo.Instance.RealName;

}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        debugger
        $("#Account").val("@account");
        $("#RealName").val("@realName");
    });
    function submitForm() {
        debugger
        if (!$('#form1').formValid()) {
            return false;
        }
        if ($("#ConfirmPassword").val() != $("#UserPassword").val()) {
            $.modalMsg("两次输入的密码不一致，请重新填写！", 'warning')
            return;
        }
        var postData = $("#form1").formSerialize();
        postData["userPassword"] = $("#UserPassword").val();
        postData["keyValue"] = "@Ingpal.BusinessStore.Model.UserInfo.Instance.ID";
        $.submitForm({
            url: "/SystemManage/User/SubmitRevisePassword",
            param: postData,
            success: function () {
                $.loading(false)
            }
        })
    }
    function cleardata() {
        $("#ConfirmPassword,#UserPassword").val("").text("");
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="Account" name="account" readonly type="text" style="width:30%" class="form-control"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="RealName" name="realName" readonly type="text" style="width:30%" class="form-control disabled" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">新密码</th>
                <td class="formValue">
                    <input id="UserPassword" name="UserPassword" type="password" style="width:30%" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">确认新密码</th>
                <td class="formValue">
                    <input id="ConfirmPassword" name="ConfirmPassword" type="password"  style="width:30%"class="form-control required" placeholder="请确认新密码" />
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                   <a class="btn btn-primary dropdown-text" onclick="submitForm()"><i class="fa fa-file-text"></i>确认修改</a>
                    <a class="btn btn-primary dropdown-text" onclick="cleardata()"><i class="fa fa-file-text"></i>重  置</a>
                </td>
            </tr>
        </table>
    </div>
</form>
