<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <!--葡萄-->
    <!--<add name="conn" connectionString="T2VdB8A5/GCCEAsMhA91TzgrFoMA5uFljlgAP8mUQYNT/atRhYdYKa+gAHqMeZm43fx003WnbG+Rvo2qKAKiYTblYAQGOuDlumq2tEdE8TDTy2bYQkc0rvgrxzlrkmNIyvid3HBC7vaffbNls/cDkzk4cul6oHjHoTXyHPOCNe+6f8zoe/DzEGAWW90CEubS" providerName="System.Data.SqlClient" />-->
    <add name="conn" connectionString="T2VdB8A5/GBXfNNp5WJfDshLerqBD3hji//OpSoA48/66C+qSKQMEczC+uOXc4KMd1A1I6qfkPtTEtFJFhTukT8Htdms+yFFKnpCENQn0G0suTFe7wDpmwwu4GQEaPoXs9aMZaIKu6RgFlvdAhLm0g==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ShowCustomerDispay" value="false" />
    <!--<add key="MemberGateway" value="http://member.putao.com/user/{0}" />-->
    <add key="MemberGateway" value="http://member-test.ptdev.cn/user/{0}" />
    <add key="Secretkey" value="0d4ef63433d59b62c88ed5c7509dbd8c" />
    <add key="appid" value="60005" />
    <add key="MemberReturnGoods" value="http://test-api-store-park.ptdev.cn/cash/order/backGoods?" />
    <add key="MemberOrderConfirm" value="http://test-api-store-park.ptdev.cn/cash/order/confirm?" />
    <add key="MemberPostOrder" value="http://test-api-store-park.ptdev.cn/cash/order/save?" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>