body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:6px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u1865 {
  position:absolute;
  left:6px;
  top:55px;
  width:1024px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:725px;
  width:1024px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1869 {
  position:absolute;
  left:46px;
  top:738px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1871 {
  position:absolute;
  left:416px;
  top:738px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1873 {
  position:absolute;
  left:952px;
  top:737px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1875 {
  position:absolute;
  left:215px;
  top:738px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1877 {
  position:absolute;
  left:9px;
  top:75px;
  width:432px;
  height:650px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1878 {
  position:absolute;
  left:2px;
  top:317px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:652px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CB636E;
}
#u1879 {
  position:absolute;
  left:446px;
  top:75px;
  width:584px;
  height:652px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CB636E;
}
#u1880 {
  position:absolute;
  left:2px;
  top:316px;
  width:580px;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1881 {
  position:absolute;
  left:511px;
  top:15px;
  width:57px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1883 {
  position:absolute;
  left:33px;
  top:24px;
  width:71px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1885 {
  position:absolute;
  left:1284px;
  top:736px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1889 {
  position:absolute;
  left:568px;
  top:401px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1891 {
  position:absolute;
  left:460px;
  top:401px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1892 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1893 {
  position:absolute;
  left:676px;
  top:401px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1894 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1896 {
  position:absolute;
  left:460px;
  top:468px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1897 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1898 {
  position:absolute;
  left:567px;
  top:468px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1899 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1900 {
  position:absolute;
  left:676px;
  top:469px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1901 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(115, 183, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(115, 183, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1902 {
  position:absolute;
  left:784px;
  top:470px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1903 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1905 {
  position:absolute;
  left:568px;
  top:536px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1906 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1907 {
  position:absolute;
  left:460px;
  top:536px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1908 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:676px;
  top:536px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1912 {
  position:absolute;
  left:568px;
  top:604px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:460px;
  top:604px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1915 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1916 {
  position:absolute;
  left:676px;
  top:604px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(115, 183, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(115, 183, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:784px;
  top:401px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1919 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(115, 183, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(115, 183, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1920 {
  position:absolute;
  left:783px;
  top:536px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(115, 183, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(115, 183, 184, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:784px;
  top:604px;
  width:103px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1923 {
  position:absolute;
  left:2px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:62px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1925 {
  position:absolute;
  left:891px;
  top:401px;
  width:109px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1926 {
  position:absolute;
  left:2px;
  top:23px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u1927 {
  position:absolute;
  left:925px;
  top:418px;
  width:41px;
  height:29px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1D9ED7;
}
#u1928 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:198px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:892px;
  top:468px;
  width:108px;
  height:198px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:2px;
  top:81px;
  width:104px;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1932 {
  position:absolute;
  left:478px;
  top:305px;
  width:329px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1933 {
  position:absolute;
  left:2px;
  top:17px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1934 {
  position:absolute;
  left:490px;
  top:318px;
  width:37px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#DF4A4A;
}
#u1936 {
  position:absolute;
  left:722px;
  top:318px;
  width:79px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#DF4A4A;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1939 {
  position:absolute;
  left:478px;
  top:225px;
  width:502px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1940 {
  position:absolute;
  left:2px;
  top:17px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1941 {
  position:absolute;
  left:493px;
  top:240px;
  width:37px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1943 {
  position:absolute;
  left:880px;
  top:239px;
  width:72px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1946 {
  position:absolute;
  left:817px;
  top:305px;
  width:163px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1947 {
  position:absolute;
  left:2px;
  top:17px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1948 {
  position:absolute;
  left:826px;
  top:318px;
  width:37px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1950 {
  position:absolute;
  left:915px;
  top:319px;
  width:60px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:75px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1953 {
  position:absolute;
  left:460px;
  top:101px;
  width:108px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1954 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1955 {
  position:absolute;
  left:572px;
  top:101px;
  width:108px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1957 {
  position:absolute;
  left:684px;
  top:101px;
  width:108px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1959 {
  position:absolute;
  left:797px;
  top:101px;
  width:108px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1961 {
  position:absolute;
  left:909px;
  top:101px;
  width:108px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:24px;
  top:15px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  position:absolute;
  left:20px;
  top:133px;
  width:404px;
  height:170px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:77px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u1967 {
  position:absolute;
  left:32px;
  top:145px;
  width:151px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:184px;
  top:156px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1971 {
  position:absolute;
  left:288px;
  top:156px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:339px;
  top:156px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u1976 {
  position:absolute;
  left:31px;
  top:203px;
  width:151px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1978 {
  position:absolute;
  left:182px;
  top:208px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1980 {
  position:absolute;
  left:288px;
  top:208px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:339px;
  top:208px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:31px;
  top:253px;
  width:151px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1987 {
  position:absolute;
  left:182px;
  top:253px;
  width:58px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1989 {
  position:absolute;
  left:288px;
  top:253px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:343px;
  top:253px;
  width:58px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u1994 {
  position:absolute;
  left:900px;
  top:15px;
  width:127px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1996 {
  position:absolute;
  left:906px;
  top:23px;
  width:85px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1998 {
  position:absolute;
  left:1004px;
  top:23px;
  width:15px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u2000 {
  position:absolute;
  left:24px;
  top:83px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u2001 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2002 {
  position:absolute;
  left:35px;
  top:97px;
  width:22px;
  height:21px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2004 {
  position:absolute;
  left:67px;
  top:97px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
